{{!-- Layout --}}
{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}{{#is "home"}}is-home{{/is}} is-frontpage{{/contentFor}}

<section class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            <div class="site-header-content">
                <h1 class="site-title">
                    {{#if @site.logo}}
                        <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </h1>
                <h2 class="site-description">{{@site.description}}</h2>
            </div>
        </div>
    </div>
</section>

<header class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            {{> "site-nav"}}
            <div class="site-header-content">
                <h1 class="site-title">
                    {{#if @site.logo}}
                        <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </h1>
                <h2 class="site-description">{{@site.description}}</h2>
            </div>
        </div>
    </div>
</header>

<div class="site-post feed-entry-content">
    <div class="feed-entry-wrap u-maxWidth1100 container">
        <div class="row">
            {{#foreach posts visibility="all"}}
                {{#has number="1"}}
                    <div class="col s12 m6 l12 ss1">{{> "story/story-grid" }}</div>
                {{else has number="5, 6, 17, 18"}}
                    <div class="col s12 m6 ss2">{{> "story/story-grid" }}</div>
                {{else has number="13, 16"}}
                    <div class="col s12 l7 ss3 u-marginBottom15">{{> "story/story-cover" }}</div>
                {{else has number="14, 15"}}
                    <div class="col s12 l5 ss4 u-marginBottom15">{{> "story/story-cover" }}</div>
                {{else}}
                    <div class="col s12 m6 l4">{{> "story/story-grid"}}</div>
                {{/has}}
            {{/foreach}}
        </div>
    </div>
</div>